node_modules
.turbo
dist
build
.next
.vercel
.DS_Store
coverage
pnpm-lock.yaml
*.log
tmp
terraform.tfstate
terraform.tfstate.*
.terraform/
/.idea
.env
.env.local
.env.development
.env.staging
.env.production
!.env.example
*.tfvars
*.tfvars.json
*.tfplan
backend.hcl
*.hcl.example
